.header--container{
    display: flex;
    padding: 0 30px;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(to right, #672280, #A626D3);
    color: white;
}

.header-title--container{
    display: flex;
}

.header-title{
    margin-left: 8px;
}

.header-subtitle--container{
    margin-left: auto;
}